.chat-body{
    height: 350px;
    overflow-y: auto;
}
.users{
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0;
    color: #fff;
}
.wrapper{
    word-break: break-all;
    white-space:normal;
}